//font sizes
.font-size-12 {
  font-size: 12px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-16 {
  font-size: 16px;
}
.font-size-18 {
  font-size: 18px;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-22 {
  font-size: 22px;
}
.font-size-24 {
  font-size: 24px;
}
.font-size-26 {
  font-size: 26px;
}
.font-size-28 {
  font-size: 28px;
}
.font-size-30 {
  font-size: 30px;
}
.font-size-32 {
  font-size: 32px;
}
.font-size-34 {
  font-size: 34px;
}
.font-size-36 {
  font-size: 36px;
}
.font-size-38 {
  font-size: 38px;
}
.font-size-40 {
  font-size: 40px;
}
.font-size-42 {
  font-size: 42px;
}
.font-size-44 {
  font-size: 44px;
}
.font-size-74 {
  font-size: 74px;
}

.line-height-1 {
  line-height: 1rem;
}
.line-height-2 {
  line-height: 2rem;
}
.line-height-3 {
  line-height: 3rem;
}
.line-height-4 {
  line-height: 4rem;
}
.line-height-5 {
  line-height: 5rem;
}

.home-header {
  background-color: #ffffff;
  box-shadow: 1px 2px 5px gray;
  position: sticky;
  top: 0;
  z-index: 99999;
}
.home-footer {
  padding: 10px;
  bottom: 0px;
  width: 100%;
  background-color: #ffffff;
}

.menu-item {
  text-decoration: none;
  color: #000000;
}

.landing-banner {
  background-image: url("/src/assets/Site Images/landing-wallaper.jpg");
  padding: 200px 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
  position: relative;
  background-position: center;
}
.landing-banner::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
  opacity: 0.4;
}

.nature-description-section {
  background-color: #000000;
}

// About Us
.about-us-banner {
  background-image: url("/src/assets/Site Images/about-banner.jpg");
  padding: 200px 0px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 50vh;
  background-size: cover;
  position: relative;
  background-position: center;
}
.about-us-banner::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
}

.contact-us-banner {
  background-image: url("/src/assets/Site Images/Contact Us/contact-us-form-banner.jpg");
  padding: 200px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-form .q-field--filled .q-field__control {
  background: #0000006b;
}
.contact-form .q-field__label {
  color: #ffffff;
}
/* Custom Container CSS */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  background-color: #24262b;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer-col ul {
  list-style: none;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/* Breakpoints for custom container width */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 992px) {
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .font-size-lg-22 {
    font-size: 22px;
  }
  .font-size-lg-74 {
    font-size: 74px;
  }

  .line-height-lg-1 {
    line-height: 1rem;
  }
  .line-height-lg-2 {
    line-height: 2rem;
  }
  .line-height-lg-3 {
    line-height: 3rem;
  }
  .line-height-lg-4 {
    line-height: 4rem;
  }
  .line-height-lg-5 {
    line-height: 5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
